.task {
    display: flex;
    padding: 1rem;
    width: 46rem;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.875rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .task {
        max-width: 23rem;
    }
}


.task > .checkbox {
    display: flex;
    margin: 0.25rem 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0.125rem;
    border-radius: 100%;
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.task > .checkbox[aria-checked="false"] {
    color: var(--gray-100);
    border: 2px solid var(--blue);
    transition: background-color 0.2s;
}

.task > .checkbox[aria-checked="false"]:hover {
    background: var(--dark-blue-low-opacity);
}

.task > .checkbox[aria-checked="true"] {
    color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
    background: var(--dark-purple);
}

.task > .checkbox[aria-checked="true"]:hover {
    background: var(--purple);
    border: 2px solid var(--purple);
}

.task .checkbox .checkboxIndicator {
    line-height: 0.5rem;
}
.task .checkbox .checkboxIndicator > svg {
    color: var(--gray-100);
}

.task > label[id=completed] {
    color: var(--gray-300);
    text-decoration-line: line-through;
}

.task > label {
    margin-top: 0.25rem;
    white-space: pre-wrap;
    cursor: pointer;
}

.task > .delete {
    display: flex;
    margin: 0.25rem 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-weight: bold;
    border: 0;
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.task > .delete > svg {
    color: var(--gray-300);
}

.task > .delete:hover > svg {
    cursor: pointer;
    color: var(--danger);
}
